{% extends "wagtailadmin/login.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block branding_favicon %}
	<link rel="shortcut icon" href="{% static 'images/logo.ico' %}"/>
{% endblock %}
{% block css  %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,700i,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/account/main.css' %}">
{% endblock %}
{% block content %}
	<div>
        <div class="row no-gutters justify-content-center">
            <div class="col-10 col-md-6 col-lg-4 d-flex align-items-center  mb-5">
                <div class="container mt-5 px-5">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="{% static 'images/lyka_logo.png' %}" style="height: 100px; width: 100px;"/>
                    </div>
                    <h3 class="text-center mb-3 text-uppercase text-primary-2 font-weight-bold">Seller Center</h3>
                    <p class="text-black-50 text-center">Forgot Password</p>
                    <div class="rounded bg-white shadow pt-1" style="border-top: 5px solid #016fa7">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="tab-email" role="tabpanel" aria-labelledby="tab-nav-email">
                                <div class="pt-4 pb-4 pl-4 pr-4">
                                    <form action="" method="post" id="email-form">
                                        {% csrf_token %}
                                    	<div class="form-group">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="password-login">Verification Code</label>
                                            </div>
                                            <div class="row no-gutters align-content-center">
                                            	<input type="text" class="form-control" placeholder="Verification Code" id="veri_code">
                                            </div>
                                            <p class="text-danger small mt-2" id="error-verification-code"></p>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="password-login">New Password</label>
                                            </div>
                                            <div class="row no-gutters align-content-center">
                                            	<div class="input-group">
			                                        <input type="password" class="form-control password-reset" placeholder="New Password" id="new_pw">
			                                        <div class="input-group-append">
			                                            <label class="btn btn-outline-secondary" id="show_hide_pw">show</label>
			                                        </div>
			                                    </div>
                                            </div>
                                            <p class="text-danger small mt-2" id="error-password-login"></p>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label for="password-login">Confirm Password</label>
                                            </div>
                                            <div class="row no-gutters align-content-center">
                                            	<div class="input-group">
			                                        <input type="password" class="form-control password-reset" placeholder="Confirm Password" id="repeat_pw">
			                                        <div class="input-group-append">
			                                            <label class="btn btn-outline-secondary" id="show_hide_repeat_pw">show</label>
			                                        </div>
			                                    </div>
                                            </div>
                                        </div>
										<div class="form-group checkPasswordContainer">
											<div class="checkPassword-lowerletter">
												<span aria-hidden="true" class="check-lowerletter"></span>
												<span class="checkPasswordText-lowerletter"></span>
											</div>
											<div class="checkPassword-upperletter">
												<span aria-hidden="true" class="check-upperletter"></span>
												<span class="checkPasswordText-upperletter"></span>
											</div>
											<div class="checkPassword-symbols">
												<span aria-hidden="true" class="check-symbols"></span>
												<span class="checkPasswordText-symbols"></span>
											</div>
											<div class="checkPassword-numbers">
												<span aria-hidden="true" class="check-numbers"></span>
												<span class="checkPasswordText-numbers"></span>
											</div>
											<div class="checkPassword-length">
												<span aria-hidden="true" class="check-length"></span>
												<span class="checkPasswordText-length"></span>
											</div>
											<div class="checkPassword-match">
												<span aria-hidden="true" class="check-match"></span>
												<span class="checkPasswordText-match"></span>
											</div>
										</div>
                                        <button type="submit" class="btn btn-primary-2 w-100 mt-3 disabled" id="reset_pw_btn" disabled>Setup New Password</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/home/sign_up.js' %}"></script>
    <script src="{% static 'js/account/main.js' %}"></script>
{% endblock %}