.template-productspage {
  header{
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 50px;
    padding-right: 50px;
    .right{
      text-align: right;
      float: right;
    }
  }

  .alert{
    margin-top: 2em;
    margin-bottom: -2em;
  }

  .products-filters{
    margin: 0px -15px;
    .nav-link{
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
  .products-tab{
    .product-errors{
      border-top: none;
      .alert{
        margin-top: -15px;
        margin-bottom: 1em;
      }
    }
    .custom-pagination{
      .page-link{
        color: #05507b;
      }
      .page-link:hover{
        color: #fff;
        background-color: #3fbdd3;
      }
      .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: #05507b;
        border-color: #05507b;
      }
    }    
  }
}

.template-productsimportpage{
  .form-wrap{
    h2{
      margin-top: 1.5rem;
    }
    .list-group{
      margin-left: 15px;
    }
  }
}