.template-productsimportpage {
  .form-import{
    label{
      margin-bottom: 0px;
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      color: #6c757d;
      background-color: transparent;
      background-image: none;
      border-color: #6c757d;
      cursor: pointer;
    }
    input[type="file"]{
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    input[type="submit"]{
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      color: #fff;
      background-color: #05507b;
      border-color: #05507b;
      cursor: pointer;
    }
    label:hover {
      color: #fff;
      background-color: #3fbdd3;
      border-color: #3fbdd3;
    }
    input[type="submit"]:hover {
      color: #fff;
      background-color: #3fbdd3;
      border-color: #3fbdd3;
    }
  }
  .categories{
    .card{
      border: 0px;
      min-height: 39px;
      button[aria-expanded="true"] { 
        border: 1px solid #3fbdd3;
      }      
      .btn-link{
        color: #000;
        text-decoration: none;  
      }
      .btn-link:hover{
        color: #000;
        text-decoration: none;        
      }
    }
  }
}