.template-resetpasswordpage{
  .content{
    padding-top: 3.5em;
  }
  .reset-password-filters{
    margin-left: -15px;
    margin-bottom: 15px;
  }
  .form-wrap{
    ul{
      list-style: none;
      padding-left: 0px;
    }
  }
}