{% extends "index.html" %}
{% load static %}

{% block title %}Users{% endblock %}

{% block body_class %}template-adminpage page-admin{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mr-auto mb-0 text-gray-800">Sellers</h1>
</div>

{% include 'messages.html' %}
{% include 'pagination.html' with objects=users query_selector="page" %}

<div class="body-content">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr>
        <td scope="row">
          {{u.username}}
        </td>
        <td scope="row">
          {{u.email}}
        </td>

        <td class="text-center">
          <div class="dropdown show">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/seller_admin/users/{{u.id}}/documents/">View Documents</a>
              <a class="dropdown-item" href="/seller_admin/users/{{u.id}}/products/">View Products</a>              
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}