{% extends "index.html" %}
{% load static %}

{% block title %}Users{% endblock %}

{% block body_class %}template-adminpage page-admin{% endblock %}

{% block content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mr-auto mb-0 text-gray-800">Viewing documents of {{username}}</h1>
</div>

{% include 'messages.html' %}

<div class="body-content">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for doc in documents %}
      <tr>
        <td scope="row">
          {{doc.document_type}}
        </td>
        <td class="text-left">
          <div class="dropdown show">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{{doc.document_url|default:'#'}}">View</a>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}