option_settings:
  "aws:elasticbeanstalk:application:seller-center-staging":
    DJANGO_SETTINGS_MODULE: "seller_center.settings"
    "PYTHONPATH": "/opt/python/current/app/seller-center:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: seller_center/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"