container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python seller_center/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python seller_center/manage.py migrate createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python seller_center/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:seller-center-staging":
    DJANGO_SETTINGS_MODULE: "seller_center.settings"
    "PYTHONPATH": "/opt/python/current/app/seller-center:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: seller_center/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"