{% load static %}
{% load wagtailcore_tags wagtailimages_tags wagtailimages_tags %}

<div class="tab-pane fade" id="live" role="tabpanel" aria-labelledby="live-tab">

    {% if liveProducts %}
        {% if live.has_other_pages %}
        <div>
            <ul class="pagination custom-pagination">
                {% if live.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?lpage=1#live" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">begin</span>
                    </a>
                </li>   
                {% endif %}
                {% for n in live.paginator.page_range %}
                    {% if live.number == n %}
                    <li class="page-item active">
                        <span class="page-link">{{ n }}<span class="sr-only">(current)</span></span>
                    </li>
                    {% elif n > live.number|add:'-6' and n < live.number|add:'6' %}
                    <li class="page-item"><a class="page-link" href="?lpage={{ n }}#live">{{ n }}</a></li>
                    {% endif %}
                {% endfor %}
            
                {% if live.has_next %}
                <li class="page-item">
                <a class="page-link" href="?lpage={{ live.paginator.num_pages }}#live" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">end</span>
                </a>
                </li>
                {% endif %}   
            </ul> 
        </div>
        {% endif %}
        <div class="body-content">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Parent SKU</th>
                    <th scope="col">Variations</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Sales</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for product in liveProducts %}
                <tr>
                    <td scope="row">
                        <a href="/admin/product/product/edit/{{product.id}}/">
                            {% if product.variations.all.0.image_url %}
                                <img src="{{product.variations.all.0.image_url}}" alt="" width="80"/>
                            {% elif product.variations.all.0.image_upload %}
                                <img src="{{product.variations.all.0.image_url_from_upload}}" alt="" width="80"/>
                            {% elif product.variations.all.0.image_url_from_sku %}
                                <img src="{{product.variations.all.0.image_url_from_sku}}" alt="" width="80"/>
                            {% else %}
                                <img src="{% static 'images/download.svg' %}" alt="" width="80"/>
                            {% endif %}
                        </a>
                    </td>
                    <td class="text-center">
                        {% if product.product_name %}
                        {{product.product_name}}
                        {% else %} -
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if product.parent_sku_reference_no %}
                        {{product.parent_sku_reference_no}}
                        {% else %} -
                        {% endif %}
                    </td>
                    <td class="text-center">
                    {% for v in product.variations.all %}
                        {% if v.name %} {{v.name}}
                        {% else %} -
                        {% endif %}
                        <br>
                    {% endfor %}
                    </td>
                    <td>
                    {% for v in product.variations.all %}
                        {% if v.price %} {{v.price}}
                        {% else %} -
                        {% endif %}
                        <br>
                    {% endfor %}
                    </td>
                    <td class="text-center">
                    {% for v in product.variations.all %}
                        {% if v.stock %} {{v.stock}}
                        {% else %} -
                        {% endif %}
                        <br>
                    {% endfor %}
                    </td>
                    <td class="text-center">
                    {% for v in product.variations.all %}
                        0
                        <br>
                    {% endfor %}
                    </td>
                    <td class="text-center">
                        <div class="dropdown show">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="/admin/product/product/edit/{{product.id}}/">Edit</a>
                              <a class="dropdown-item" href="/products/unlist/{{product.id}}/">Unlist</a>
                              <a class="dropdown-item" href="/products/suspend/{{product.id}}/">Suspend</a>
                              <a class="dropdown-item" href="/products/delete/{{product.id}}/">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>
