{% load static %}
<form action="{{page.url}}" enctype="multipart/form-data" method="POST" novalidate>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mr-auto mb-0 text-gray-800">Products</h1>

        <a href="/products/#all"
           class="d-none d-sm-inline-block btn btn-xl shadow-sm mr-2">Cancel</a>


        <button type="submit" class="d-none d-sm-inline-block btn btn-xl btn-primary shadow-xl">Save and
            Delist</button>
    </div>
    {% csrf_token %}

    {# Basic Info #}
    <div class="row mx-3">
        <div class="card shadow container-fluid p-0">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Basic Information</h6>
            </div>
            <div class="card-body mx-5">

                <div class="form-group row mt-3 mb-4">
                    <label for="id_product-code" class="col-sm-3 col-form-label">Product Code *</label>
                    <div class="col-sm-9">
                        <input type="text" name="product-code" class="form-control" placeholder="Code"
                               id="id_product-code" value="{{product.product_code}}" required>
                    </div>
                </div>

                <div class="form-group row mt-3 mb-4">
                    <label for="id_product_name" class="col-sm-3 col-form-label">Product Name *</label>
                    <div class="col-sm-9">
                        <input type="text" name="product-name" class="form-control" placeholder="Product Name"
                               id="id_product_name" value="{{product.product_name}}" required>
                    </div>
                </div>

                <div class="form-group row mb-4">
                    <label for="id_product_description" class="col-sm-3 col-form-label">Product Description
                        *</label>
                    <div class="col-sm-9">
                            <textarea name="product-description" class="form-control" placeholder="Product Description"
                                      id="id_product_description">{{product.product_description}}</textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="id_product_description" class="col-sm-3 col-form-label"> Category</label>
                    <div class="col-sm-9">
                        <div class="input-group mb-3">
                            <input type="hidden" name="product-category-id" class="form-control" id="id_product_category_id"
                                   value="{{product.product_category_id}}">
                            <input type="text" name="product-category" class="form-control" id="id_product_category"
                                   value="{{product.category}}" disabled>
                            <div class="input-group-append">

                          <a class="btn btn-outline-secondary" href="/products/add-single-product/{{selected_category}}/{{product_id}}/">
                                Change Category
                          </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {# End of Basic Info #}


    {# Sales Info #}
    <div class="row mx-3 my-5">
        <div class="card shadow container-fluid p-0">
            <div id="sales-information"
                 class="card-header py-3 d-flex flex-row align-items-center justify-content-between list-group"
                 role="tablist">
                <h6 class="font-weight-bold text-primary ml-3 mr-auto">Sales</h6>
                <a class="btn btn-sm shadow-sm list-group-item list-group-item-action col-sm-2 mr-2 {{showWithoutVariation}}"
                   data-toggle="list" href="#without_variations" role="tab">Without Variations</a>


                <a class="btn btn-sm shadow-sm list-group-item list-group-item-action col-sm-2 {{showVariations}}" data-toggle="list"
                   href="#with_variations" role="tab">With Variations</a>

            </div>

            <div class="tab-content card-body mx-5">


                <div class="tab-pane fade  {{showWithoutVariation}}" id="without_variations" role="tabpanel">

                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product-price" class="col-sm-3 col-form-label">Price *</label>

                        <div class="input-group col-sm-9">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon1">₱</span>
                            </div>
                            <input type="number" name="product-price" class="form-control" placeholder="Price"
                                   id="id_product-price" value="{{product.product_price}}"
                                   required>
                        </div>
                    </div>

                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product_stock" class="col-sm-3 col-form-label">Stock *</label>

                        <div class="col-sm-9">
                            <input type="number" name="product-stock" class="form-control" placeholder="Stock"
                                   id="id_product_stock" value="{{product.product_stock}}"
                                   required>
                        </div>
                    </div>
                </div>
                {# End of Without Variation Tab #}


                {# With Variation Tab #}

                <div class="tab-pane fade {{showVariations}}" id="with_variations" role="tabpanel">

                    {% for v in variations %}

                    {% if forloop.counter0 == 0 or v.variation_sku %}
                        <div id="variation-container-{{forloop.counter}}"
                             class="form-group variation variation-{{forloop.counter0}}">
                        {% else %}
                    <div id="variation-container-{{forloop.counter}}"
                         class="form-group variation variation-{{forloop.counter0}}" style="display: none;">
                            {% endif %}

                            {% if forloop.counter0 > 0 %}
                            <hr class="sidebar-divider mb-4"/>
                            {% endif %}
                            <div class="d-flex">
                                <h5 class="mr-auto text-primary">Variation {{forloop.counter}}</h5>
                                {% if forloop.counter0 > 0 %}
                                <a class="ml-3 mt-1 text-danger" onclick="hideVariation({{forloop.counter}})">
                                    <i class="fas fa-trash"></i>
                                </a>
                                {% endif %}
                            </div>

                            <div class="form-group row mt-3 mb-4">
                                <label for="id_product-variation-{{forloop.counter0}}-sku" class="col-sm-3 col-form-label">SKU </label>
                                <div class="col-sm-9">
                                    <input type="text" name="product-variation-{{forloop.counter0}}-sku" required
                                           class="form-control" placeholder="SKU"
                                           id="id_product-variation-{{forloop.counter0}}-sku"
                                           value="{{v.variation_sku}}">
                                </div>
                            </div>

                            <div class="form-group row mt-3 mb-4">
                                <label for="id_product-variation-{{forloop.counter0}}-name" class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" name="product-variation-{{forloop.counter0}}-name" required
                                           class="form-control" placeholder="Name"
                                           id="id_product-variation-{{forloop.counter0}}-name"
                                           value="{{v.variation_name}}">
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="product-variation-{{forloop.counter0}}-price"
                                       class="col-sm-3 col-form-label">Price</label>

                                <div class="input-group col-sm-9">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">₱</span>
                                    </div>
                                    <input type="number" name="product-variation-{{forloop.counter0}}-price" required
                                           class="form-control" placeholder="Price" value="{{v.variation_price}}"
                                           id="product-variation-{{forloop.counter0}}-price"
                                           required>
                                </div>
                            </div>


                            <div class="form-group row mt-3 mb-4">
                                <label for="product-variation-{{forloop.counter0}}-stock"
                                       class="col-sm-3 col-form-label">Stock</label>

                                <div class="col-sm-9">
                                    <input type="number" name="product-variation-{{forloop.counter0}}-stock" required
                                           class="form-control" placeholder="Stock" value="{{v.variation_stock}}"
                                           id="product-variation-{{forloop.counter0}}-stock"
                                           required>
                                </div>
                            </div>

                            <div class="form-group row mt-3 mb-4">
                                <label for="product-variation-{{forloop.counter0}}-image"
                                       class="col-sm-3 col-form-label" style="height: 100%;">Image</label>
                                {{ form }}
                                <div class="col-sm-3">
                                    <div class="img_container" id="var-drop-container" var_ctr="{{ forloop.counter0 }}">
                                        <label for="product-variation-{{forloop.counter0}}-image" class="drop-area-text" id="prod_var_{{ forloop.counter0 }}_lbl"><i class="far fa-image"></i> Variation {{ forloop.counter }} Image</label>
                                        <input type="file" name="product-variation-{{forloop.counter0}}-image" class="form-control img_file" id="product-variation-{{forloop.counter0}}-image" accept="image/*" imgdisplay="prod_var_{{ forloop.counter0 }}_img" img_rmv="rmv_prod_var_{{ forloop.counter0 }}_img">
                                        <img src="" class="drop-image" id="prod_var_{{ forloop.counter0 }}_img" />
                                        <button class="btn btn-danger btn-circle trash_can" id="rmv_prod_var_{{ forloop.counter0 }}_img" rmv_img="prod_var_{{ forloop.counter0 }}_img"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                            </div>

                            {% if forloop.counter0 < 6 %}
                            <div class="col-md-12">
                                <button id="variation-add-button-{{forloop.counter}}" class="btn btn-primary"
                                        type="button"
                                        onclick="showVariation(event, '{{forloop.counter}}')"> + Add Another Variation
                                </button>
                            </div>
                            {% endif %}
                        </div>

                        {% endfor %}

                    </div>
                </div>

                {# End of With Variation Tab #}
            </div>
            {# End of Sales Info #}
        </div>

        <div class="row mx-3">
            <div class="card shadow container-fluid p-0">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Media Management</h6>
                </div>
                <div class="card-body mx-5">

                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product-code" class="col-sm-3 col-form-label">Product Images</label>
                        <div class="col-sm-12 d-flex justify-content-center">
                            <div class="col-sm-2">
                                <div class="img_container" id="drop-container">
                                    <label for="product_cover_img" class="drop-area-text" id="cover_img_lbl"><i class="far fa-image"></i> Cover Image</label>
                                    <input type="file" name="product-cover-img" class="form-control img_file" id="product_cover_img" accept="image/*" imgdisplay="cover_img" img_rmv="rmv_cover_img">
                                    <img src="" class="drop-image" id="cover_img" />
                                    <button class="btn btn-danger btn-circle trash_can" id="rmv_cover_img" rmv_img="cover_img"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="img_container" id="drop-container1">
                                    <label for="product_img_1" class="drop-area-text" id="img_1_lbl"><i class="far fa-image"></i> Image 1</label>
                                    <input type="file" name="product-img-1" class="form-control img_file" id="product_img_1" accept="image/*" imgdisplay="img_1" img_rmv="rmv_img_1">
                                    <img src="" class="drop-image" id="img_1" />
                                    <button class="btn btn-danger btn-circle trash_can" id="rmv_img_1" rmv_img="img_1"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="img_container" id="drop-container2">
                                    <label for="product_img_2" class="drop-area-text" id="img_2_lbl"><i class="far fa-image"></i> Image 2</label>
                                    <input type="file" name="product-img-2" class="form-control img_file" id="product_img_2" accept="image/*" imgdisplay="img_2" img_rmv="rmv_img_2">
                                    <img src="" class="drop-image" id="img_2" />
                                    <button class="btn btn-danger btn-circle trash_can" id="rmv_img_2" rmv_img="img_2"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="img_container" id="drop-container3">
                                    <label for="product_img_3" class="drop-area-text" id="img_3_lbl"><i class="far fa-image"></i> Image 3</label>
                                    <input type="file" name="product-img-3" class="form-control img_file" id="product_img_3" accept="image/*" imgdisplay="img_3" img_rmv="rmv_img_3">
                                    <img src="" class="drop-image" id="img_3" />
                                    <button class="btn btn-danger btn-circle trash_can" id="rmv_img_3" rmv_img="img_3"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="img_container" id="drop-container4">
                                    <label for="product_img_4" class="drop-area-text" id="img_4_lbl"><i class="far fa-image"></i> Image 4</label>
                                    <input type="file" name="product-img-4" class="form-control img_file" id="product_img_4" accept="image/*" imgdisplay="img_4" img_rmv="rmv_img_4">
                                    <img src="" class="drop-image" id="img_4" />
                                    <button class="btn btn-danger btn-circle trash_can" id="rmv_img_4" rmv_img="img_4"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="img_container" id="drop-container5">
                                    <label for="product_img_5" class="drop-area-text" id="img_5_lbl"><i class="far fa-image"></i> Image 5</label>
                                    <input type="file" name="product-img-5" class="form-control img_file" id="product_img_5" accept="image/*" imgdisplay="img_5" img_rmv="rmv_img_5">
                                    <img src="" class="drop-image" id="img_5" />
                                    <button class="btn btn-danger btn-circle trash_can" id="rmv_img_5" rmv_img="img_5"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Shipping Info #}
        <div class="row mx-3 my-5">
            <div class="card shadow container-fluid p-0">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Shipping</h6>
                </div>
                <div class="card-body mx-5">


                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product_name" class="col-sm-3 col-form-label">Parcel Size</label>
                        <div class="col-sm-3">
                            <input type="number" name="product-length" class="form-control" placeholder="Length"
                                   id="id_product-length" value="{{product.product_length}}">
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name="product-width" class="form-control" placeholder="Width"
                                   id="id_product-width" value="{{product.product_width}}">
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name="product-height" class="form-control" placeholder="Height"
                                   id="id_product-height" value="{{product.product_height}}">
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label for="id_product-weight" class="col-sm-3 col-form-label">Weight (kg)</label>
                        <div class="col-sm-9">
                            <input type="number" name="product-weight" class="form-control" placeholder="Weight (kg)"
                                   id="id_product-weight" value="{{product.product_weight}}" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End of Shipping Info #}


        {# Others Info #}
        <div class="row mx-3">
            <div class="card shadow container-fluid p-0">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Others</h6>
                </div>
                <div class="card-body mx-5">


                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product_name" class="col-sm-3 col-form-label">Condition</label>
                        <div class="col-sm-9">
                            <select class="form-control custom-select" name="product-condition"
                                    id="id_product-condition">

                                {% for c in CONDITION_CHOICES %}
                                Condition: {{c}}
                                {% if c.0 == product.product_condition %}
                                <option selected="" value="{{c.0}}">{{c.1}}</option>
                                {% else %}
                                <option value="{{c.0}}">{{c.1}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label for="id_product-parent-sku" class="col-sm-3 col-form-label">Parent SKU</label>
                        <div class="col-sm-9">
                            <input type="text" name="product-parent-sku" class="form-control" placeholder="Parent SKU"
                                   id="id_product-parent-sku" value="{{product.parent_sku_reference_no}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End of Others Info #}


        <!--<div class="row">-->

        <!--<div class="col-md-12">-->
        <!--<h2>Shipping</h2>-->
        <!--</div>-->
        <!--<div class="col-md-12">-->
        <!--<label for="id_product-l">Parcel Size</label>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
        <!--<input type="number" name="product-l" class="form-control" placeholder="L" id="id_product-l">-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
        <!--<input type="number" name="product-w" class="form-control" placeholder="W" id="id_product-w">-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
        <!--<input type="number" name="product-h" class="form-control" placeholder="H" id="id_product-h">-->
        <!--</div>-->
        <!--<div class="col-md-12">-->
        <!--<input type="number" name="product-weight" class="form-control" placeholder="Weight (kg)"-->
        <!--id="id_product-weight">-->
        <!--</div>-->
        <!--<div class="col-md-12">-->
        <!--<h2>Others</h2>-->
        <!--</div>-->
        <!--<div class="col-md-12">-->
        <!--<div class="form-group">-->
        <!--<label for="id_product-condition">Condition </label>-->
        <!--<select class="form-control" id="id_product-condition">-->
        <!--<option selected="">New</option>-->
        <!--<option>Used</option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-12">-->
        <!--<input type="text" name="product-parent-sku" class="form-control" placeholder="Parent SKU"-->
        <!--id="id_product-parent-sku">-->
        <!--</div>-->
        <!--<div class="col-md-12">-->
        <!--<button type="submit" class="btn btn-success block-button submit-button float-right">submit</button>-->
        <!--</div>-->
        <!--</div>-->

</form>