<div class="card container-fluid mb-3">
    <ul class="nav" role="tablist">
        <li class="nav-item ml-2 p-1">
            <a class="nav-link topic-filter-item active" id="all-tab" data-toggle="tab" href="#all" role="tab">All</a>
        </li>
        <li class="nav-item ml-2 p-1 ">
            <a class="nav-link topic-filter-item" id="live-tab" data-toggle="tab" href="#live" role="tab">Live</a>
        </li>
        <li class="nav-item ml-2 p-1 ">
            <a class="nav-link topic-filter-item" id="sold-tab" data-toggle="tab" href="#sold" role="tab">Sold Out</a>
        </li>
        <li class="nav-item ml-2 p-1 ">
            <a class="nav-link topic-filter-item" id="suspended-tab" data-toggle="tab" href="#suspended" role="tab">Suspended</a>
        </li>
        <li class="nav-item ml-2 p-1 ">
            <a class="nav-link topic-filter-item" id="unlisted-tab" data-toggle="tab" href="#unlisted" role="tab">Unlisted</a>
        </li>
        {% if nUnpublished %}
        <li class="nav-item ml-2 p-1 ">
            <a class="nav-link topic-filter-item" id="unpublished-tab" data-toggle="tab" href="#unpublished" role="tab">Unpublished ({{nUnpublished}})</a>
        </li>
        {% endif %}
        <li class="nav-item ml-2 p-1">
            <a class="nav-link" id="unpublished-tab" href="/products/delete-all">Delete All Products</a>
        </li>
    </ul>
</div>
