<div class="products-filters">
    <div class="container">
        <ul class="nav" role="tablist">
            <li class="nav-item">
                <a class="nav-link topic-filter-item active" id="all-tab" data-toggle="tab" href="#all" role="tab">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link topic-filter-item" id="live-tab" data-toggle="tab" href="#live" role="tab">Live</a>
            </li>
            <li class="nav-item">
                <a class="nav-link topic-filter-item" id="sold-tab" data-toggle="tab" href="#sold" role="tab">Sold Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link topic-filter-item" id="suspended-tab" data-toggle="tab" href="#suspended" role="tab">Suspended</a>
            </li>
            <li class="nav-item">
                <a class="nav-link topic-filter-item" id="unlisted-tab" data-toggle="tab" href="#unlisted" role="tab">Unlisted</a>
            </li>
            <li class="nav-item">
                <a class="nav-link topic-filter-item" id="unpublished-tab" data-toggle="tab" href="#unpublished" role="tab">Unpublished</a>
            </li>
        </ul>
    </div>
</div>
