body {
	font-size: 14px;
	margin-top: 0px;
	font-family: 'Montserrat', sans-serif;
}

header{
  background-color: #fff;
  padding-top: 3.5em;
}
.homepage h1, h2{
	color: #05507b !important;
}

.nav-wrapper, .nav-wrapper .inner {
	background: #fff;
	width: 200px;
}

.nav-main .menu-active>a {
	border-left-color: transparent;
}

.nav-main .menu-active {
	background: #fff;
	text-shadow: 0px 0px 0;
}
.nav-main a {
	color: #05507b !important;
	text-shadow: 0px 0px 0;
}

.avatar{
	display: none;
}

.nav-search{
	display: none;
}
.u-hidden@medium{
	display: none;
}

.button.bicolor {
	background-color: #05507b !important;
}

.summary ul.stats a {
	color: #05507b !important;
}
