body {
	font-size: 14px;
	h1, h2, h3, h4, h5{
		font-family: 'Montserrat', sans-serif;
	}

	font-family: 'Montserrat', sans-serif;
	margin: 0;

	p {
		font-size: 14px;
	}

	h1 {
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 1.5rem;
	}

	h2 {
		font-size: 18px;
		font-weight: 600;
    margin-bottom: 1.5rem;
		a {
			color: #05507b;
		}

		a:hover {
			color: #3fbdd3;
			text-decoration: none;
		}
	}

	h3 {
		font-size: 16px;
		font-weight: 700;
	}

	ul {
		font-size: 14px;
	}
	
	a {
		color: #05507b;
	}

	a:hover {
		color: #3fbdd3;
		text-decoration: none;
	}

	.wrapper{ 
		margin-top: 1.5em;
    padding-left: 0px;
    margin-left: 1.7em;
	}

	.card{
		width: 18rem;
	}

	.buttons-container{
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 0px;
		.btn-success{
			margin-right: 15px;
		}
	}
	.cards-container{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.form-wrap{
		label{
			color: #6c757d;
			padding-left: 12px;
			font-size: 16px;
		}
	}
	.form-control{
		margin-bottom: 15px;
	}
	.btn-success{
		color: #fff;
		background-color: #05507b;
		border-color: #05507b;
	}
	.btn-success:hover {
		color: #fff;
		background-color: #3fbdd3;
		border-color: #3fbdd3;
	}
	.btn-primary{
		color: #fff;
		background-color: #3fbdd3;
		border-color: #3fbdd3;
	}
	.btn-primary:hover {
		color: #fff;
		background-color: #05507b;
		border-color: #05507b;
	}
	.dropdown-menu{
		font-size: 14px;
	}
}