{% extends "base.html" %}

{% load wagtailcore_tags wagtailcore_tags wagtailimages_tags widget_tweaks %}

{% block body_class %}template-resetpasswordpage{% endblock %}

{% block content %}
<h2>Reset Password</h2>

{% include 'sign_up/includes/reset_password_filter.html' %}

{# Tab Content #}
<div class="tab-content reset-password-tab" id="resetPasswordTabContent">
    {% include "sign_up/includes/reset_password_by_email.html" %}
    {% include "sign_up/includes/reset_password_by_phone_number.html" %}
</div>


{% endblock %}
