{% load static %}
{% load wagtailcore_tags wagtailimages_tags wagtailimages_tags %}

<div class="tab-pane fade show active" id="email">
    <div class="form-wrap">
        <form action="{{page.url}}" method="POST">
            {% csrf_token %}
            <div class="row">
                <input type="hidden" id="reg-type" name="reg-type" value="email">
                <div class="col-md-9">
                    <input type="email" name="email-address" class="form-control" placeholder="Email Address" required="" id="id_email-address">
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success button-submit float-right">Send One-Time-Password</button>
                </div>
            </div>
        </form>
    </div>
</div>
