{% extends "index.html" %}

{% load static menu_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block css  %}
{% endblock %}

{% block content %}

    <div>
      <div class="content">
        <h1>
          {% if self.page_title %}
            {{ self.page_title }}
          {% else %}
            {{ self.title}}
          {% endif %}
        </h1>
  
        <h3>{{ self.page_subtitle }}</h3>
  
        {% if self.body %}
        <div class="body-content">
          {% include "streamfields/general.html" with content=self.body %}
        </div>
        {% endif %}
        
        <div class="row cards-container">
          <a href="/products">
          {% for page in subPages %}
              {% if page.url == '/products/' %}
            </a>
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h1 class="card-title">1021</h1>
                  <p class="card-text">Products</p>
                </div>
              </div>
            </div>
          </a>
          <a href="#">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title">23</h1>
                    <p class="card-text">Orders</p>
                  </div>
                </div>
              </div>
            </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

{% endblock %}
