{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

  <h1>
    {% if self.page_title %}
      {{ self.page_title }}
    {% else %}
      {{ self.title}}
    {% endif %}
  </h1>

  <h2>{{ self.page_subtitle }}</h2>

  {% if self.body %}
  <div class="body-content">
    {% include "streamfields/general.html" with content=self.body %}
  </div>
  {% endif %}

  <div class="row cards-container">
  {% for page in subPages %}
    {% if page.url != '/sign/' %}
    <a href="{{ page.url }}">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/download.svg' %}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ page.title }}</h2>
          </div>
        </div>
      </div>
    </a>
    {% endif %}
  {% endfor %}
  </div>

{% endblock %}
