{% extends "index.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-productsimportpage{% endblock %}

{% block content %}

  {% if selected_category == '0' %}
    <h1 class="h3 mr-auto mb-3 text-gray-800">Select Product Category </h1>
    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="row">

            {# Primary Category #}
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for c in categories %}
                    <a class="list-group-item list-group-item-action" id="list-{{c.unique_id}}-list" data-toggle="list"
                      href="#list-{{c.unique_id}}" role="tab" aria-controls="{{c.name}}">{{c.name}}</a>
                    {% endfor %}
                </div>
            </div>
            {# End Primary Category #}

            {# Sub Category #}
            <div class="col-4">
                <div class="tab-content" id="nav-tabContent">
                    {% for c in categories %}
                    <div class="tab-pane fade list-group" id="list-{{c.unique_id}}" role="tabpanel tablist"
                        aria-labelledby="list-{{c.unique_id}}-list">
                        {% for c2 in c.children %}
                        <a class="list-group-item list-group-item-action" id="list-{{c2.unique_id}}-list"
                          data-toggle="list" href="#list-{{c2.unique_id}}" role="tab" aria-controls="{{c2.name}}">{{c2.name}}</a>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {# End Sub Category #}


            {# Third Level Category #}
            <div class="col-4">
                <div class="tab-content" id="nav-tabContent-third-level">
                    {% for c in categories %}
                    {% for c2 in c.children %}
                    <div class="tab-pane fade list-group" id="list-{{c2.unique_id}}" role="tabpanel tablist"
                        aria-labelledby="list-{{c2.unique_id}}-list">
                        {% for c3 in c2.children %}
                            <a class="list-group-item list-group-item-action" id="list-{{c3.unique_id}}-list"
                                name="category" href="/products/edit/{{c3.unique_id}}/{{product_id}}/" role="tab"
                                aria-controls="{{c3.name}}">{{c3.name}}</a>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {# End Third Level Category #}

        </div>
    </form>
    {% else %}
      <div class="form-wrap">
        {% include 'product/includes/edit_product.html' %}
      </div>
    {% endif %}

{% endblock %}