{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-productsimportpage{% endblock %}

{% block content %}

  <div class="row cards-container">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/download.svg' %}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Add Multiple Products</h3>
          <div class="form-import">
            <form action="" enctype="multipart/form-data"  method="post">
              {% csrf_token %}
              {{ form }}
              <input type="checkbox" name="auto-pair" class="form-check-input" id="id_autopair"> <span>Auto-pair products with available images</span>
              <input class="btn btn-success button-submit" type="submit" value="Upload" name="upload">
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/download.svg' %}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Sample CSV Template</h3>
          <a class="btn btn-success" href="/products/import/download_template" role="button">Download</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/download.svg' %}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Add Multiple Images</h3>
          <a class="btn btn-success" href="/admin/images/multiple/add/" role="button">Upload</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}