{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-productsimportpage{% endblock %}

{% block content %}

{% if errors %}
<div class="alert alert-danger" role="alert">
{% for e in errors %}
    {{e}}
{% endfor %}        
</div>
{% endif %}
<div class="form-wrap">

  <!-- CATEGORIES -->
  
  {% if selected_category == 'index' %}
  <form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="col-md-12">
      <h2>Select Product Category</h2>
    </div>
    <div class="accordion categories" id="accordion1">
      {% for c in categories %}
      <div class="card">
        <div id="heading1">
          <button class="btn btn-link btn-level-1 btn-{{c.unique_id}}" type="button" data-toggle="collapse" data-target="#{{c.unique_id}}" aria-expanded="false" aria-controls="{{c.unique_id}}">
            {{c.name}}
          </button>
        </div>
        <div id="{{c.unique_id}}" class="collapse l2-categories level-2 parent-btn-{{c.unique_id}}" aria-labelledby="heading1" data-parent="#accordion1" style="position: absolute; left: 300px; top: {{c.top}};">
          <div class="accordion" id="accordion2">
            {% for c2 in c.children %}
            <div class="card">
              <div id="heading2">
                <button class="btn btn-link btn-level-2 btn-{{c2.unique_id}}" type="button" data-toggle="collapse" data-target="#{{c2.unique_id}}" aria-expanded="false" aria-controls="{{c2.unique_id}}" onclick="toggleL2(event)">
                  {{c2.name}}
                </button>
              </div>
              <div id="{{c2.unique_id}}" class="collapse l3-categories level-3 parent-btn-{{c2.unique_id}}" aria-labelledby="heading2" data-parent="#accordion2" style="position: absolute; left: 300px; top: {{c2.top}};">
                <div class="accordion" id="accordion3">
                  {% for c3 in c2.children %}
                  <div class="card">
                    <div id="heading3">
                      <a class="btn btn-link" name="category" href="/products/add-single-product/{{c3.unique_id}}">
                        {{c3.name}}
                      </a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </form>
  {% else %}
  {% if errors %}
  {{errors}}
  {{product}}
  {% endif %}
  <form action="{{page.url}}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-12">
        <h2>Basic</h2>
      </div>
      <div class="col-md-12">
        <label for="product-name">Product Code: </label>
        <input type="text" name="product-code" class="form-control" placeholder="Code" id="id_product-code" value="{{product.product_code}}">
      </div>
      <div class="col-md-12">
        <label for="product-name">Product Name: </label>
        <input type="text" name="product-name" class="form-control" placeholder="Name" id="id_product-name" value="{{product.product_name}}">
      </div>
      <div class="col-md-12">
        <label for="product-description">Product Description: </label>
        <textarea name="product-description" class="form-control" placeholder="Description" id="id_product-description" value="{{product.product_description}}"></textarea>
      </div>
      <div class="col-md-12">
        <h2>Selected Category</h2>
      </div>
      <div class="col-md-10">
        <input type="text" name="selected_category" class="form-control" id="id_product-name" value="{{product.category}}" disabled>
      </div>
      <div class="col-md-2">
          <a class="btn btn-success" href="/products/add-single-product/index">
            Change Category
          </a>
      </div>
      <!-- VARIATIONS -->
      <div class="col-md-12">
        <h2>Variations</h2>
      </div>
      {% for v in variations %}
      {% if v != 0 %}
      <div class="variation variation-{{forloop.counter0}} col-md-12" style="display: none;">
      {% else %}
        <div class="variation variation-{{forloop.counter0}} col-md-12">
      {% endif %}
        <div class="col-md-12">
            <h3>Variation {{forloop.counter}}</h3>
        </div>
        <div class="col-md-12">
            <label for="product-variation-{{forloop.counter0}}-name">Variation Name: </label>
            <input type="text" name="product-variation-{{forloop.counter0}}-name" class="form-control" placeholder="Name" id="id_product-variation-name">
        </div>
        <div class="col-md-12">
            <label for="product-variation-{{forloop.counter0}}-price">Variation Price: </label>
            <input type="text" name="product-variation-{{forloop.counter0}}-price" class="form-control" placeholder="Price ₱" id="id_product-price">
        </div>
        <div class="col-md-12">
            <label for="product-variation-{{forloop.counter0}}-stock">Variation Stock: </label>
            <input type="number" name="product-variation-{{forloop.counter0}}-stock" class="form-control" placeholder="Stock" id="id_product-variation-stock">
        </div>
        <div class="col-md-12">
            <label for="product-variation-{{forloop.counter0}}-sku">Variation SKU: </label>
            <input type="text" name="product-variation-{{forloop.counter0}}-sku" class="form-control" placeholder="SKU" id="id_product-variation-sku">
        </div>
        <div class="col-md-12">
          <label for="product-variation-{{forloop.counter0}}-image">Variation Image: </label>
          <input type="file" name="product-variation-{{forloop.counter0}}-image" class="form-control" id="id_product-variation-image">
        </div>
        {% if forloop.counter0 < 6 %}
        <div class="col-md-12">
            <button class="btn btn-primary" type="button" onclick="showVariation(event, '{{forloop.counter}}')"> + Add Another Variation</button>
        </div>
        {% endif %}
      </div>
      {% endfor %}

      
      <div class="col-md-12">
        <h2>Sales</h2>
      </div>
      <div class="col-md-12">
          <label for="product-price">Product Price: </label>
          <input type="text" name="product-price" class="form-control" placeholder="Price ₱" id="id_product-price">
      </div>
      <div class="col-md-12">
          <label for="product-stock">Product Stock: </label>
        <input type="number" name="product-stock" class="form-control" placeholder="Stock" id="id_product-stock">
      </div>
      <div class="col-md-12">
        <h2>Shipping</h2>
      </div>
      <div class="col-md-12">
        <label for="id_product-l">Parcel Size</label>
      </div>
      <div class="col-md-4">
        <input type="number" name="product-l" class="form-control" placeholder="L" id="id_product-l">
      </div>
      <div class="col-md-4">
        <input type="number" name="product-w" class="form-control" placeholder="W" id="id_product-w">
      </div>
      <div class="col-md-4">
        <input type="number" name="product-h" class="form-control" placeholder="H" id="id_product-h">
      </div>
      <div class="col-md-12">
          <label for="product-weight">Product Weight: </label>
        <input type="number" name="product-weight" class="form-control" placeholder="Weight (kg)" id="id_product-weight">
      </div>
      <div class="col-md-12">
        <h2>Others</h2>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="id_product-condition">Condition </label>
          <select class="form-control" id="id_product-condition">
            <option selected="">New</option>
            <option>Used</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
          <label for="product-price">Parent SKU: </label>
        <input type="text" name="product-parent-sku" class="form-control" placeholder="SKU" id="id_product-parent-sku">
      </div>
      <div class="col-md-12">
      <button type="submit" class="btn btn-success block-button submit-button float-right">submit</button>
      </div>
    </div>
  </form>
  {% endif %}
</div>

{% endblock %}