{% extends "index.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block extra_css %}

<link href="{% static 'css/product_import.css' %}" rel="stylesheet">
{% endblock %}

{% block body_class %}template-productsimportpage{% endblock %}

{% block content %}

<div class="form-wrap">

    <!-- CATEGORIES -->

    {% if selected_category == 'index' %}
    <h1 class="h3 mr-auto mb-3 text-gray-800">Select Product Category</h1>
    <form action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="row">

            {# Primary Category #}
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    {% for c in categories %}
                    <a class="list-group-item list-group-item-action" id="list-{{c.unique_id}}-list" data-toggle="list"
                       href="#list-{{c.unique_id}}" role="tab" aria-controls="{{c.name}}">{{c.name}}</a>
                    {% endfor %}
                </div>
            </div>
            {# End Primary Category #}

            {# Sub Category #}
            <div class="col-4">
                <div class="tab-content" id="nav-tabContent">
                    {% for c in categories %}
                    <div class="tab-pane fade list-group" id="list-{{c.unique_id}}" role="tabpanel tablist"
                         aria-labelledby="list-{{c.unique_id}}-list">
                        {% for c2 in c.children %}
                        <a class="list-group-item list-group-item-action" id="list-{{c2.unique_id}}-list"
                           data-toggle="list" href="#list-{{c2.unique_id}}" role="tab" aria-controls="{{c2.name}}">{{c2.name}}</a>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {# End Sub Category #}


            {# Third Level Category #}
            <div class="col-4">
                <div class="tab-content" id="nav-tabContent-third-level">
                    {% for c in categories %}
                    {% for c2 in c.children %}
                    <div class="tab-pane fade list-group" id="list-{{c2.unique_id}}" role="tabpanel tablist"
                         aria-labelledby="list-{{c2.unique_id}}-list">
                        {% for c3 in c2.children %}
                        <a class="list-group-item list-group-item-action" id="list-{{c3.unique_id}}-list"
                           name="category" href="/products/add-single-product/{{c3.unique_id}}" role="tab"
                           aria-controls="{{c3.name}}">{{c3.name}}</a>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {# End Third Level Category #}

        </div>
        <!--<div class="row">-->
        <!--{# First Level Category #}-->
        <!--<div class="col-4">-->

        <!--<div class="list-group" id="myList" role="tablist">-->
        <!--{% for c in categories %}-->
        <!--&lt;!&ndash; List group &ndash;&gt;-->
        <!--<a class="list-group-item list-group-item-action" data-toggle="list" href="#{{c.unique_id}}" role="tab">{{c.name}}</a>-->


        <!--{% endfor %}-->
        <!--</div>-->
        <!--</div>-->
        <!--{# End of First Level Category #}-->


        <!--{# Second Level Category #}-->
        <!--<div class="col-8">-->
        <!--<div class="tab-content">-->

        <!--{% for c in categories %}-->
        <!--<div class="tab-pane fade" id="{{c.unique_id}}" role="tabpanel">...</div>-->
        <!--{% for c2 in c.children %}-->
        <!--{{c2.name}} Child - -->

        <!--{% endfor %}-->
        <!--</div>-->
        <!--{% endfor %}-->

        <!--</div>-->
        <!--</div>-->
        <!--{# End of Second Level Category #}-->
        <!--</div>-->
        <!--<div class="card">-->
        <!--<div id="heading1">-->
        <!--<button class="btn btn-link btn-level-1 btn-{{c.unique_id}}" type="button" data-toggle="collapse" data-target="#{{c.unique_id}}" aria-expanded="false" aria-controls="{{c.unique_id}}">-->
        <!--{{c.name}}-->
        <!--</button>-->
        <!--</div>-->
        <!--<div id="{{c.unique_id}}" class="collapse l2-categories level-2 parent-btn-{{c.unique_id}}" aria-labelledby="heading1" data-parent="#accordion1" style="position: absolute; left: 300px; top: {{c.top}};">-->
        <!--<div class="accordion" id="accordion2">-->
        <!--{% for c2 in c.children %}-->
        <!--<div class="card">-->
        <!--<div id="heading2">-->
        <!--<button class="btn btn-link btn-level-2 btn-{{c2.unique_id}}" type="button" data-toggle="collapse" data-target="#{{c2.unique_id}}" aria-expanded="false" aria-controls="{{c2.unique_id}}" onclick="toggleL2(event)">-->
        <!--{{c2.name}}-->
        <!--</button>-->
        <!--</div>-->
        <!--<div id="{{c2.unique_id}}" class="collapse l3-categories level-3 parent-btn-{{c2.unique_id}}" aria-labelledby="heading2" data-parent="#accordion2" style="position: absolute; left: 300px; top: {{c2.top}};">-->
        <!--<div class="accordion" id="accordion3">-->
        <!--{% for c3 in c2.children %}-->
        <!--<div class="card">-->
        <!--<div id="heading3">-->
        <!--<a class="btn btn-link" name="category" href="/products/add-single-product/{{c3.unique_id}}">-->
        <!--{{c3.name}}-->
        <!--</a>-->
        <!--</div>-->
        <!--</div>-->
        <!--{% endfor %}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--{% endfor %}-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </form>
    {% else %}

    <form action="{{page.url}}" enctype="multipart/form-data" method="POST" novalidate>
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mr-auto mb-0 text-gray-800">Products</h1>

        <a href="/products/add-single-product/index"
           class="d-none d-sm-inline-block btn btn-xl shadow-sm mr-2">Cancel</a>
        <a href="/products/add-single-product/index" class="d-none d-sm-inline-block btn btn-xl shadow-sm mr-2">Save and
            Delist</a>


        <button type="submit" class="d-none d-sm-inline-block btn btn-xl btn-primary shadow-xl">Publish</button>
    </div>
        {% csrf_token %}

        {# Basic Info #}
        <div class="row mx-3">
            <div class="card shadow container-fluid p-0">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Basic Information</h6>
                </div>
                <div class="card-body mx-5">


                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product_name" class="col-sm-3 col-form-label">Product Name *</label>
                        <div class="col-sm-9">
                            <input type="text" name="product-name" class="form-control" placeholder="Product Name"
                                   id="id_product_name" value="{{productName}}" required>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label for="id_product_description" class="col-sm-3 col-form-label">Product Description
                            *</label>
                        <div class="col-sm-9">
                            <textarea name="product-description" class="form-control" placeholder="Product Description"
                                      id="id_product_description"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="id_product_description" class="col-sm-3 col-form-label"> Category *</label>
                        <div class="col-sm-9">
                            <div class="input-group mb-3">
                                <input type="text" name="product-category" class="form-control" id="id_product_category"
                                       value="{{selected_category}}" readonly disabled>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Change Category</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {# End of Basic Info #}


        {# Sales Info #}
        <div class="row mx-3 my-5">
            <div class="card shadow container-fluid p-0">
               <div id="sales-information" class="card-header py-3 d-flex flex-row align-items-center justify-content-between list-group" role="tablist">
                    <h6 class="font-weight-bold text-primary ml-3 mr-auto">Sales</h6>
                    <a class="btn btn-sm shadow-sm list-group-item list-group-item-action col-sm-2 active mr-2" data-toggle="list" href="#without_variations" role="tab">Without Variations</a>
                    <a class="btn btn-sm shadow-sm list-group-item list-group-item-action col-sm-2" data-toggle="list" href="#with_variations" role="tab">With Variations</a>

                </div>

                <div class="tab-content card-body mx-5">


                {# Without Variation Tab #}
                    <div class="tab-pane fade active show" id="without_variations" role="tabpanel">
                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product_name" class="col-sm-3 col-form-label">Price *</label>

                        <div class="col-sm-9">
                            <input type="number" name="product-name" class="form-control" placeholder="Price"
                                   id="id_product_price"
                                   required>
                        </div>
                    </div>

                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product_stock" class="col-sm-3 col-form-label">Stock *</label>

                        <div class="col-sm-9">
                            <input type="number" name="product-name" class="form-control" placeholder="Stock"
                                   id="id_product_stock"
                                   required>
                        </div>
                    </div>
                    </div>
                {# End of Without Variation Tab #}


                {# With Variation Tab #}
                    <div class="tab-pane fade" id="with_variations" role="tabpanel">

                    {% for v in variations %}
                    {% if v != 0 %}
                    <div id="variation-container-{{forloop.counter}}" class="form-group variation variation-{{forloop.counter0}}" style="display: none;">
                    {% else %}
                    <div id="variation-container-{{forloop.counter}}" class="form-group variation variation-{{forloop.counter0}}">
                    {% endif %}

                        {% if v != 0 %}
                        <hr class="sidebar-divider mb-4"/>
                            {% endif %}
                        <div class="d-flex">
                        <h5 class="mr-auto text-primary">Variation {{forloop.counter}}</h5>
                        {% if v != 0 %}
                        <a class="ml-3 mt-1 text-danger" onclick="hideVariation({{forloop.counter}})">
                            <i class="fas fa-trash"></i>
                        </a>
                            {% endif %}
                        </div>

                        <div class="form-group row mt-3 mb-4">
                            <label for="product-variation-{{forloop.counter0}}-name" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="product-variation-{{forloop.counter0}}-name" class="form-control" placeholder="Name"
                                       id="product-variation-{{forloop.counter0}}-name" required>
                            </div>
                        </div>


                        <div class="form-group row mt-3 mb-4">
                            <label for="product-variation-{{forloop.counter0}}-sku" class="col-sm-3 col-form-label">SKU</label>
                            <div class="col-sm-9">
                                <input type="text" name="product-variation-{{forloop.counter0}}-sku" class="form-control" placeholder="Name"
                                       id="product-variation-{{forloop.counter0}}-sku" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="product-variation-{{forloop.counter0}}-price" class="col-sm-3 col-form-label">Price</label>

                            <div class="col-sm-9">
                                <input type="number" name="product-variation-{{forloop.counter0}}-price" class="form-control" placeholder="Price"
                                       id="product-variation-{{forloop.counter0}}-price"
                                       required>
                            </div>
                        </div>


                        <div class="form-group row mt-3 mb-4">
                            <label for="product-variation-{{forloop.counter0}}-stock" class="col-sm-3 col-form-label">Stock</label>

                            <div class="col-sm-9">
                                <input type="number" name="product-variation-{{forloop.counter0}}-stock" class="form-control" placeholder="Stock"
                                       id="product-variation-{{forloop.counter0}}-stock"
                                       required>
                            </div>
                        </div>

                        <div class="form-group row mt-3 mb-4">
                            <label for="product-variation-{{forloop.counter0}}-image" class="col-sm-3 col-form-label">Image</label>
                            {{ form }}


                            <input type="file" name="product-variation-{{forloop.counter0}}-image"
                                   class="col-sm-9 form-control"
                                   id="product-variation-{{forloop.counter0}}-image">
                        </div>

                    {% if forloop.counter0 < 6 %}
                    <div class="col-md-12">
                        <button id="variation-add-button-{{forloop.counter}}"class="btn btn-primary" type="button"
                                onclick="showVariation(event, '{{forloop.counter}}')"> + Add Another Variation
                        </button>
                    </div>
                    {% endif %}
                    </div>

                    {% endfor %}

                    </div>
            </div>

                {# End of With Variation Tab #}
        </div>
        {# End of Sales Info #}
            </div>

        {# Shipping Info #}
        <div class="row mx-3 my-5" >
            <div class="card shadow container-fluid p-0">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Shipping</h6>
                </div>
                <div class="card-body mx-5">


                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product_name" class="col-sm-3 col-form-label">Parcel Size</label>
                        <div class="col-sm-3">
                            <input type="number" name="product-l" class="form-control" placeholder="Length"
                                   id="id_product-l" required>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name="product-w" class="form-control" placeholder="Width"
                                   id="id_product-w" required>
                        </div>
                        <div class="col-sm-3">
                            <input type="number" name="product-h" class="form-control" placeholder="Height"
                                   id="id_product-h" required>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label for="id_product_description" class="col-sm-3 col-form-label">Weight (kg)</label>
                        <div class="col-sm-9">
                            <input type="number" name="product-description" class="form-control" placeholder="Weight (kg)"
                                      id="id_product-weight">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End of Shipping Info #}


        {# Others Info #}
        <div class="row mx-3">
            <div class="card shadow container-fluid p-0">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Others</h6>
                </div>
                <div class="card-body mx-5">


                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product_name" class="col-sm-3 col-form-label">Condition</label>
                        <div class="col-sm-9">
                        <select class="form-control custom-select" id="id_product-condition">
                            <option selected="">New</option>
                            <option>Used</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group row mb-4">
                        <label for="id_product_description" class="col-sm-3 col-form-label">Parent SKU</label>
                        <div class="col-sm-9">
                    <input type="text" name="product-parent-sku" class="form-control" placeholder="Parent SKU"
                           id="id_product-parent-sku">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End of Others Info #}


        <!--<div class="row">-->

                <!--<div class="col-md-12">-->
                    <!--<h2>Shipping</h2>-->
                <!--</div>-->
                <!--<div class="col-md-12">-->
                    <!--<label for="id_product-l">Parcel Size</label>-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<input type="number" name="product-l" class="form-control" placeholder="L" id="id_product-l">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<input type="number" name="product-w" class="form-control" placeholder="W" id="id_product-w">-->
                <!--</div>-->
                <!--<div class="col-md-4">-->
                    <!--<input type="number" name="product-h" class="form-control" placeholder="H" id="id_product-h">-->
                <!--</div>-->
                <!--<div class="col-md-12">-->
                    <!--<input type="number" name="product-weight" class="form-control" placeholder="Weight (kg)"-->
                           <!--id="id_product-weight">-->
                <!--</div>-->
                <!--<div class="col-md-12">-->
                    <!--<h2>Others</h2>-->
                <!--</div>-->
                <!--<div class="col-md-12">-->
                    <!--<div class="form-group">-->
                        <!--<label for="id_product-condition">Condition </label>-->
                        <!--<select class="form-control" id="id_product-condition">-->
                            <!--<option selected="">New</option>-->
                            <!--<option>Used</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-12">-->
                    <!--<input type="text" name="product-parent-sku" class="form-control" placeholder="Parent SKU"-->
                           <!--id="id_product-parent-sku">-->
                <!--</div>-->
                <!--<div class="col-md-12">-->
                    <!--<button type="submit" class="btn btn-success block-button submit-button float-right">submit</button>-->
                <!--</div>-->
            <!--</div>-->

    </form>
    {% endif %}
</div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'js/product_import.js' %}"></script>
{% endblock %}