{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-productsimportpage{% endblock %}

{% block content %}

<div class="form-wrap">
  <form action=" {{ page.url }}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-12">
        <h2>Basic</h2>
      </div>
      <div class="col-md-12">
        <input type="text" name="product-name" class="form-control" placeholder="Product Name" required="" id="id_product-name">
      </div>
      <div class="col-md-12">
        <textarea name="product-description" class="form-control" placeholder="Product Description" required="" id="id_product-description"></textarea>
      </div>
      <div class="col-md-12">
        <h2>Category</h2>
      </div>
      <div class="accordion categories" id="accordion1">
        {% for c in categories %}
        <div class="card">
          <div id="heading1">
            <button class="btn btn-link btn-level-1 btn-{{c.unique_id}}" type="button" data-toggle="collapse" data-target="#{{c.unique_id}}" aria-expanded="false" aria-controls="{{c.unique_id}}">
              {{c.name}}
            </button>
          </div>
          <div id="{{c.unique_id}}" class="collapse l2-categories level-2 parent-btn-{{c.unique_id}}" aria-labelledby="heading1" data-parent="#accordion1" style="position: absolute; left: 300px; top: {{c.top}};">
            <div class="accordion" id="accordion2">
              {% for c2 in c.children %}
              <div class="card">
                <div id="heading2">
                  <button class="btn btn-link btn-level-2 btn-{{c2.unique_id}}" type="button" data-toggle="collapse" data-target="#{{c2.unique_id}}" aria-expanded="false" aria-controls="{{c2.unique_id}}" onclick="toggleL2(event)">
                    {{c2.name}}
                  </button>
                </div>
                <div id="{{c2.unique_id}}" class="collapse l3-categories level-3 parent-btn-{{c2.unique_id}}" aria-labelledby="heading2" data-parent="#accordion2" style="position: absolute; left: 300px; top: {{c2.top}};">
                  <div class="accordion" id="accordion3">
                    {% for c3 in c2.children %}
                    <div class="card">
                      <div id="heading3">
                        <button class="btn btn-link btn-level-3 btn-{{c3.unique_id}}" type="button" data-toggle="collapse" data-target="#{{c3.unique_id}}" aria-expanded="false" aria-controls="{{c3.unique_id}}" onclick="toggleL3(event)">
                          {{c3.name}}
                        </button>
                        <div id="{{c3.unique_id}}" class="level-4" data-parent="#accordion3" style="display: none"></div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-12">
        <h2>Sales</h2>
      </div>
      <div class="col-md-12">
          <input type="text" name="product-price" class="form-control" placeholder="Price ₱" required="" id="id_product-price">
      </div>
      <div class="col-md-12">
        <input type="number" name="product-stock" class="form-control" placeholder="Stock" required="" id="id_product-stock">
      </div>
      <div class="col-md-12">
        <h2>Shipping</h2>
      </div>
      <div class="col-md-12">
        <label for="id_product-l">Parcel Size</label>
      </div>
      <div class="col-md-4">
        <input type="number" name="product-l" class="form-control" placeholder="L" id="id_product-l">
      </div>
      <div class="col-md-4">
        <input type="number" name="product-w" class="form-control" placeholder="W" id="id_product-w">
      </div>
      <div class="col-md-4">
        <input type="number" name="product-h" class="form-control" placeholder="H" id="id_product-h">
      </div>
      <div class="col-md-12">
        <input type="number" name="product-weight" class="form-control" placeholder="Weight (kg)" required="" id="id_product-weight">
      </div>
      <div class="col-md-12">
        <h2>Others</h2>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="id_product-condition">Condition </label>
          <select class="form-control" id="id_product-condition">
            <option selected="">New</option>
            <option>Used</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
        <input type="text" name="product-parent-sku" class="form-control" placeholder="Parent SKU" required="" id="id_product-parent-sku">
      </div>
      <div class="col-md-12">
      <button type="submit" class="btn btn-success block-button submit-button float-right">submit</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}