{% extends "index.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-productsimportpage{% endblock %}

{% block content %}

<div class="form-wrap">
  <form action=" {{ page.url }}" method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-12">
        <h2>Basic</h2>
      </div>
      <div class="col-md-12">
        <input type="text" name="product-name" class="form-control" placeholder="Product Name" required="" id="id_product-name">
      </div>
      <div class="col-md-12">
        <textarea name="product-description" class="form-control" placeholder="Product Description" required="" id="id_product-description"></textarea>
      </div>
      <div class="col-md-12">
        <h2>Category</h2>
      </div>
      <div class="list-group">
        <a class="list-group-item list-group-item-action" href="#">Health & Personal Care</a>
        <a class="list-group-item list-group-item-action" href="#">Makeup & Fragrances</a>
        <a class="list-group-item list-group-item-action" href="#">Women's Apparel</a>
      </div>
      <div class="col-md-12">
        <h2>Sales</h2>
      </div>
      <div class="col-md-12">
          <input type="text" name="product-price" class="form-control" placeholder="Price ₱" required="" id="id_product-price">
      </div>
      <div class="col-md-12">
        <input type="number" name="product-stock" class="form-control" placeholder="Stock" required="" id="id_product-stock">
      </div>
      <div class="col-md-12">
        <h2>Shipping</h2>
      </div>
      <div class="col-md-12">
        <label for="id_product-l">Parcel Size</label>
      </div>
      <div class="col-md-4">
        <input type="number" name="product-l" class="form-control" placeholder="L" id="id_product-l">
      </div>
      <div class="col-md-4">
        <input type="number" name="product-w" class="form-control" placeholder="W" id="id_product-w">
      </div>
      <div class="col-md-4">
        <input type="number" name="product-h" class="form-control" placeholder="H" id="id_product-h">
      </div>
      <div class="col-md-12">
        <input type="number" name="product-weight" class="form-control" placeholder="Weight (kg)" required="" id="id_product-weight">
      </div>
      <div class="col-md-12">
        <h2>Others</h2>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label for="id_product-condition">Condition </label>
          <select class="form-control" id="id_product-condition">
            <option selected="">New</option>
            <option>Used</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
        <input type="text" name="product-parent-sku" class="form-control" placeholder="Parent SKU" required="" id="id_product-parent-sku">
      </div>
      <div class="col-md-12">
      <button type="submit" class="btn btn-success block-button submit-button float-right">submit</button>
      </div>
    </div>
  </form>
</div>

{% endblock %}