<div class="reset-password-filters">
    <div class="container">
        <ul class="nav" id="nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#email" role="tab">By Email</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#phone" role="tab">By Phone</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/admin/login">Log In Instead</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
