{% extends "index.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block extra_css %}

{% endblock %}

{% block body_class %}template-profilepage{% endblock %}

{% block content %}

{% if errors %}
<div class="alert alert-danger" role="alert">
{% for e in errors %}
    {{e}}
    <br>
{% endfor %}        
</div>
{% endif %}
<div class="form-wrap">

    <!-- CATEGORIES -->


    <form action="{{page.url}}" enctype="multipart/form-data" method="POST" novalidate>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mr-auto mb-0 text-gray-800">Profile</h1>
        <button type="submit" class="d-none d-sm-inline-block btn btn-xl btn-primary shadow-xl">Publish</button>
    </div>
{{profile}}
        {% csrf_token %}

        {# Basic Info #}
        <div class="row mx-3 my-5">
            <div class="card shadow container-fluid p-0">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Basic Information</h6>
                </div>
                <div class="card-body mx-5">

                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product-code" class="col-sm-3 col-form-label">First Name </label>
                        <div class="col-sm-9">
                            <input type="text" name="first-name" class="form-control" value="{{userData.first_name}}">
                        </div>
                    </div>
                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product-code" class="col-sm-3 col-form-label">Last Name </label>
                        <div class="col-sm-9">
                            <input type="text" name="last-name" class="form-control" value="{{userData.last_name}}">
                        </div>
                    </div>
                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product-code" class="col-sm-3 col-form-label">Birthday </label>
                        <div class="col-sm-9">
                            <input type="date" name="last-name" class="form-control" value="{{userData.birthday}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End of Basic Info #}

        {# Business Permits Documents #}
        <div class="row mx-3 my-5">
            <div class="card shadow container-fluid p-0">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Business Permits Documents</h6>
                </div>
                <div class="card-body mx-5">
                    <div class="form-group row mt-3 mb-4">
                        <label for="dti" class="col-sm-3 col-form-label">DTI </label>
                        <div class="col-sm-9">
                            <input type="file" name="dti" class="form-control" value="{{userData.first_name}}">
                        </div>
                    </div>
                </div>
                <div class="card-body mx-5">
                    <div class="form-group row mt-3 mb-4">
                        <label for="sec" class="col-sm-3 col-form-label">SEC </label>
                        <div class="col-sm-9">
                            <input type="file" name="sec" class="form-control" value="{{userData.first_name}}">
                        </div>
                    </div>
                </div>
                <div class="card-body mx-5">
                    <div class="form-group row mt-3 mb-4">
                        <label for="permit" class="col-sm-3 col-form-label">PERMIT </label>
                        <div class="col-sm-9">
                            <input type="file" name="permit" class="form-control" value="{{userData.first_name}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End of Basic Info #}

    </form>
</div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'js/product_import.js' %}"></script>
{% endblock %}
