{% extends "index.html" %}
{% load static %}

{% load wagtailcore_tags wagtailimages_tags %}


{% block extra_css %}

{% endblock %}

{% block body_class %}template-profilepage page-profile{% endblock %}

{% block content %}

<div class="form-wrap">
    <form action="{{page.url}}" enctype="multipart/form-data" method="POST" novalidate>

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mr-auto mb-0 text-gray-800">Profile</h1>
        <a href="/profile/edit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2"><i
                class="fas text-white-50 mr-2"></i>Edit Profile</a>
    </div>
{{profile}}
        {% csrf_token %}

        {# Basic Info #}
        <div class="row mx-3 my-5">
            <div class="card shadow container-fluid p-0">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Basic Information</h6>
                </div>
                <div class="card-body mx-5">
                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product-code" class="col-sm-3 col-form-label">Full Name </label>
                        <span class="col-form-label">{{userData.first_name}} {{userData.last_name}}</span>
                    </div>
                </div>
                <div class="card-body mx-5">
                    <div class="form-group row mt-3 mb-4">
                        <label for="id_product-code" class="col-sm-3 col-form-label">Birthday </label>
                        <span class="col-form-label">{{profileData.birthday}}</span>
                    </div>
                </div>
            </div>
        </div>
        {# End of Basic Info #}

        {# Address #}
        <div class="row mx-3 my-5">
            <div class="card shadow container-fluid p-0">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Addresses</h6>
                </div>
                <div class="card-body mx-5">
                  {% if addresses %}
                  {% for a in addresses %}
                    <div class="form-group row mt-3 mb-4">
                        <label for="first-name" class="col-sm-3 col-form-label">Address {{forloop.counter}}</label>
                        <span class="col-form-label">{{a.name}}</span>
                    </div>
                  {% endfor %}
                  {% else %}
                  <div class="form-group row mt-3 mb-4">
                      <span class="col-form-label">No addesses yet</span>
                  </div>
                  {% endif %}
                </div>
            </div>
        </div>
        {# End of Address #}

        {# Business Permits Documents #}
        <div class="row mx-3 my-5">
            <div class="card shadow container-fluid p-0">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Business Permits Documents</h6>
                </div>
                <div class="card-body mx-5">
                    <div class="form-group row mt-3 mb-4">
                        <label for="dti" class="col-sm-3 col-form-label">DTI </label>
                        <div class="col-sm-9">
                          {% if dtiDocument%}
                            <a href="{{dtiDocument.url}}" class="btn btn-sm btn-link">{{dtiDocument}}</a>
                          {% else %}
                          <a href="/profile/edit" class="btn btn-sm btn-link">None Uploaded</a>
                          {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body mx-5">
                    <div class="form-group row mt-3 mb-4">
                        <label for="dti" class="col-sm-3 col-form-label">SEC </label>
                        <div class="col-sm-9">
                          {% if secDocument%}
                            <a href="{{secDocument.url}}" class="btn btn-sm btn-link">{{secDocument}}</a>
                          {% else %}
                            <a href="/profile/edit" class="btn btn-sm btn-link">None Uploaded</a>
                          {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body mx-5">
                    <div class="form-group row mt-3 mb-4">
                        <label for="dti" class="col-sm-3 col-form-label">PERMIT </label>
                        <div class="col-sm-9">
                          {% if permitDocument%}
                            <a href="{{permitDocument.url}}" class="btn btn-sm btn-link">{{permitDocument}}</a>
                          {% else %}
                          <a href="/profile/edit" class="btn btn-sm btn-link">None Uploaded</a>
                          {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# End of Business Permits Documents #}

    </form>
</div>

{% endblock %}


{% block extra_js %}
<script type="text/javascript" src="{% static 'js/product_import.js' %}"></script>
{% endblock %}
